


h3 { font-size: 25px;
    color:green;
}

h4{ font-size: 20px;
    color: #01Bc01;
}
.header{
    text-align: center;
}

p{
    font-size: 20px;
}

span{
    color: #01Bc01;
}

li {font-size : 18px;
    
}
h6{
    font-size: 16px;
}